.listHeader-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: #a442ff 1px solid;
  flex-wrap: wrap;
}



.create-button {
  background-color: #a442ff;
  margin: 0.5rem;
}

.logout-button {
  background-color: #f90db6;
  margin: 0.5rem;
}
